<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting to Secure Payment</title>
  </head>

  <body onload="document.forms[0].submit()" style="background:#f5f8ff;">
    <p style="text-align:center;margin-top:40px">
      Redirecting to secure payment…
    </p>

    <form
      method="POST"
      action="https://rakbankpay-nam.gateway.mastercard.com/api/page/version/100/pay"
    >
      <!-- REQUIRED -->
      <input type="hidden" name="session.id" value="{{SESSION_ID}}" />

      <!-- OPTIONAL but recommended -->
      <input type="hidden" name="interaction.operation" value="PURCHASE" />
    </form>
  </body>
</html>
